* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;

}

.retry-btn {
  padding: .5rem 1rem;
  font-size: 1.5rem;
}

.game-screen {
  width: 50%;
}

.floor {
  height: 100vh;
  width: 100%;
  padding: 1rem;
  background-color: aquamarine;
  justify-self: center;
  align-content: center;
}

.row {
  display: flex;
  justify-content: center;
}

[class*='tile'] {
  background-color: white;
}

.box {
  background-color: black;
}

.obstacle {
  background-color: lightgrey;
}

.target {
  background-color: yellow
}

@keyframes rainbow {
  0% {background-color: red;}
  16% {background-color: orange;}
  32% {background-color: yellow;}
  48% {background-color: green;}
  64% {background-color: blue;}
  80% {background-color: indigo;}
  100% {background-color: violet;}
}

.win-tile {
  animation: rainbow 2s infinite linear;
}