* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.game-screen {
  padding: 1rem;
  background-color: aquamarine;
  width: 50%;
  height: 100vh;
  justify-self: center;
  align-content: center;
}

.row {
  display: flex;
  justify-content: center;
}

[class*='tile'] {
  height: 8rem;
  width: 8rem;
  background-color: white;
  margin: .2rem;
}

.box {
  background-color: black;
}