* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;

}

.retry-btn {
  padding: .5rem 1rem;
  font-size: 1.5rem;
}

/* .game-screen {
  height: 100vh;
  width: 50%;
  aspect-ratio: 1 / 1;
} */


.floor {
  /* height: 100%; */
  width: 50%;
  aspect-ratio: 1 / 1;
  padding: 1rem;
  background-color: lightgray;
  justify-self: center;
  align-content: center;
}

@media (max-width: 768px) {
  .floor {
    width: 100%;
    aspect-ratio: 1 / 1;
  }
}

.row {
  display: flex;
  justify-content: center;
}

[class*='tile'] {
  aspect-ratio: 1 / 1;
  background-color: white;
}

.box {
  background-color: black;
}

.obstacle {
  background-color: lightgray;
}

.target {
  background-color: yellow
}

@keyframes rainbow {
  0% {background-color: red;}
  16% {background-color: orange;}
  32% {background-color: yellow;}
  48% {background-color: green;}
  64% {background-color: blue;}
  80% {background-color: indigo;}
  100% {background-color: violet;}
}

.win-tile {
  animation: rainbow 2s infinite linear;
}