* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;

}

.retry-btn {
  padding: .5rem 1rem;
  font-size: 1.5rem;
}

.game-screen {
  width: 50%;
}

.floor {
  height: 100vh;
  padding: 1rem;
  background-color: aquamarine;
  justify-self: center;
  align-content: center;
}

.row {
  display: flex;
  justify-content: center;
}

[class*='tile'] {
  height: 8rem;
  width: 8rem;
  background-color: white;
  margin: .2rem;
}

.box {
  background-color: black;
}

.target {
  background-color: yellow
}