:root {
  --white: rgb(240, 240, 240);
  --black: rgb(10, 10, 10)
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: Arial;
  font-weight: 700;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  margin: 1rem 0 0 0;
}

.new-game-btn {
  font-size: 1rem;
  font-weight: 600;
  background-color: transparent;
  border-radius: 100rem;
  color: var(--white);
  border: 1px solid var(--white);
  padding: .7rem 1.5rem;
  cursor: pointer;
  
  transition: all .2s;
}

.new-game-btn:hover {
  background-color: var(--white);
  color: var(--black);
  
}

.popup-container {
  max-height: 44dvh;
  max-height: 44vh;
  overflow: hidden;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: fixed;
  top: 5rem;
  z-index: 98;
}

.popup {
  z-index: 99;
  font-size: .8rem;
  /* line-height: 1rem; */
  background-color: var(--white);
  color: var(--black);
  border-radius: .3rem;
  padding: .8rem;
}

@keyframes fade-out {
  60% {filter: opacity(1)};
  100% {filter: opacity(0)};
}

.fade-out {
  animation: fade-out 2.1s linear;
}

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  width: 100%;
  max-width: 500px;
  margin-bottom: 1.5rem;
}

.keyboard-row {
  display: flex;
  gap: .4rem;
  width: 100%;
  justify-content: center;
}

.key {
  flex: 1;
  max-width: 2.5rem;
  height: 3.5rem;
  
  border: none;
  color: var(--white);
  background-color: gray;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: .3rem;
  overflow: visible;
  
  cursor: pointer;
}

.key-long {
  max-width: 3.9rem;
  font-size: .65rem;
}

.key-absent {
  background-color: darkgray;
}