body {
  background-color: rgb(10, 10, 10);
  color: rgb(240, 240, 240);
  font-family: Arial;
  font-weight: 700;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.word {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  width: 100%;
  max-width: 500px;
}

.keyboard-row {
  display: flex;
  gap: .4rem;
  width: 100%;
  justify-content: center;
}

.key {
  flex: 1;
  max-width: 2.5rem;
  height: 3.5rem;
  
  border: none;
  color: white;
  background-color: gray;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: .3rem;
  overflow: visible;
  
  cursor: pointer;
}

.key-long {
  max-width: 3.9rem;
  font-size: .65rem;
}

.key-absent {
  background-color: darkgray;
}