:root {
  --white: rgb(240, 240, 240);
  --black: rgb(10, 10, 10)
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: Arial;
  font-weight: 700;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.new-game-btn {
  font-size: 1rem;
  background-color: transparent;
  border-radius: 100rem;
  color: var(--white);
  border: 2px solid var(--white);
  padding: .5rem 1.5rem;
  cursor: pointer;
  
  transition: all .2s;
}

.new-game-btn:hover {
  background-color: var(--white);
  color: var(--black);
  
}

.word {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  width: 100%;
  max-width: 500px;
}

.keyboard-row {
  display: flex;
  gap: .4rem;
  width: 100%;
  justify-content: center;
}

.key {
  flex: 1;
  max-width: 2.5rem;
  height: 3.5rem;
  
  border: none;
  color: var(--white);
  background-color: gray;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: .3rem;
  overflow: visible;
  
  cursor: pointer;
}

.key-long {
  max-width: 3.9rem;
  font-size: .65rem;
}

.key-absent {
  background-color: darkgray;
}