body {
  background-color: rgb(10, 10, 10);
  color: rgb(240, 240, 240);
  font-family: Arial;
  font-weight: 700;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.word {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}

.keyboard-row {
  display: flex;
  gap: .5rem;
}

.key {
  height: 4rem;
  aspect-ratio: 1 / 1.4;
  border: none;
  color: white;
  background-color: gray;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: .3rem;
  
  cursor: pointer;
}

.key-absent {
  background-color: darkgray;
}