.grid {
  display: grid;
  grid-template-columns: min-content;
  margin-bottom: 1rem;
}

.grid-row {
  display: flex;
  margin-bottom: .4rem;
  column-gap: .4rem;
}

.box {
  display: flex;
  height: 3.3rem;
  aspect-ratio: 1 / 1;
  border: 1px solid rgb(79, 79, 79);
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

@keyframes shake {
  33% { transform: translateX(.3rem); }
  66% { transform: translatex(-.2rem);}
}

.grid-row-shake {
  animation: shake .2s 3 ease-in-out;
}

.absent {
  background-color: rgb(47, 47, 47);
  border: 1px solid rgb(47, 47, 47) !important;
}

.present {
  background-color: rgb(157, 151, 28);
  border: 1px solid rgb(157, 151, 28) !important;
}

.correct {
  background-color: green;
  border: 1px solid green !important;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.2) }
}

.pulse {
  animation: pulse .05s linear;
  border: 1px solid rgb(109, 109, 109); 
}

@keyframes flip {
  0% {transform: scaleY(1);}
  50% { transform: scaleY(0);}
}

.flip {
  animation: flip .5s linear;
}

.no-flip {
  animation: none;
}