.grid {
  display: flex;
  flex-direction: column;
  /* grid-template-columns: repeat(5, auto);
  gap: .4rem; */
  margin-bottom: 1rem;
}

.box {
  display: flex;
  height: 3.3rem;
  aspect-ratio: 1 / 1;
  border: 1px solid rgb(79, 79, 79);
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.grid-row {
  display: flex;
  margin-bottom: .4rem;
  column-gap: .4rem;
}

@keyframes shake {
  33% { transform: translateX(.3rem); }
  66% { transform: translatex(-.2rem);}
}

.grid-row-shake {
  animation: shake .2s 3 ease-in-out;
}

.correct {
  background-color: green;
}

.present {
  background-color: rgb(157, 151, 28);
}

.absent {
  background-color: rgb(47, 47, 47);
}